.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    height: 100vh;
}

.button{
    font-size: 1.5em;
    background: #3498db;
    color: #fff;
    border: 0.25rem solid #3498db;
    border-radius: 5px;
    padding: 10px 50px;
    text-decoration: none;
    width: 200px;
}

.button:hover{
    background: #40a0e0;
    border: 0.25rem solid #40a0e0;
    cursor: pointer;
}

.input{
    font-size: 1.5em;
    background: #fff;
    color: rgb(14, 1, 1);
    border: 0.25rem solid #3498db;
    border-radius: 5px;
    padding: 10px 50px;

    width: 50vw;
    height: 5vh;
}

.label{
    font-size: 1.5em;
    color: rgb(2, 14, 30);
}

.result{
    display: flex;
    flex-direction: column;
    align-items: start;

    height: 30%;
    width: 90%;
}

.comment{
    display: flex;
    flex-direction: column;
}

.comment-name{
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(6, 16, 52);
}

.entry{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;

    height: 30vh;
}